[package]
name = "merk"
description = "Merkle key/value store adapted for GroveDB"
version = "0.9.0"
authors = ["Samuel Westrich <sam@dash.org>", "Wisdom Ogwu <wisdom@dash.org", "Evgeny Fomin <evgeny.fomin@dash.org>", "Matt Bell <mappum@gmail.com>"]
edition = "2021"
license = "MIT"

[dependencies]
thiserror = "1.0.37"
storage = { path = "../storage" }
failure = "0.1.8"
integer-encoding = "3.0.4"
indexmap = "1.9.2"
costs = { path = "../costs" }
visualize = { path = "../visualize" }

[dependencies.time]
version = "0.3.17"
optional = true

[dependencies.hex]
version = "0.4.3"
optional = true

[dependencies.colored]
version = "1.9.3"
optional = true

[dependencies.num_cpus]
version = "1.14.0"
optional = true

[dependencies.byteorder]
version = "1.4.3"
optional = true

[dependencies.ed]
version = "0.2.2"
optional = true

[dependencies.blake3]
version = "1.3.3"
optional = true

[dependencies.rand]
version = "0.8.5"
features = ["small_rng"]
optional = true

[dependencies.jemallocator]
version = "0.3.2"
features = ["disable_initial_exec_tls"]
optional = true

[features]
default = ["full"]
full = ["rand",
        "time",
        "hex",
        "colored",
        "num_cpus",
        "byteorder",
        "ed",
        "blake3",
        "jemallocator"
]
verify = [
        "ed",
        "blake3"
]

[dev-dependencies]
tempfile = "3.3.0"
storage = { path = "../storage", features = ["rocksdb_storage"] }
criterion = "0.4.0"

[[bench]]
name = "merk"
harness = false

[[bench]]
name = "ops"
harness = false
