[package]
name = "merk"
description = "Merkle key/value store"
version = "1.0.0"
authors = ["Matt Bell <mappum@gmail.com>"]
edition = "2021"
license = "MIT"

[dependencies]
storage = { path = "../storage" }
anyhow = "1.0.53"
failure = "0.1.8"
integer-encoding = "3.0.2"
indexmap = "1.9.1"
costs = { path = "../costs" }
serde = { version = "1.0.143", features = ["derive"] }

[dependencies.time]
version = "0.3.7"
optional = true

[dependencies.hex]
version = "0.4.3"
optional = true

[dependencies.colored]
version = "1.9.3"
optional = true

[dependencies.num_cpus]
version = "1.13.1"
optional = true

[dependencies.byteorder]
version = "1.4.3"
optional = true

[dependencies.ed]
version = "0.2.2"
optional = true

[dependencies.blake3]
version = "1.3.1"
optional = true

[dependencies.rand]
version = "0.8.4"
features = ["small_rng"]
optional = true

[dependencies.jemallocator]
version = "0.3.2"
features = ["disable_initial_exec_tls"]
optional = true

[features]
default = ["full", "verify"]
full = ["rand", 
        "time",
        "hex", 
        "colored",
        "num_cpus",
        "byteorder",
        "ed",
        "blake3",
        "jemallocator"
]
verify = ["ed",
          "blake3"
]

[dev-dependencies]
tempfile = "3.3.0"
storage = { path = "../storage", features = ["rocksdb_storage"] }
