[package]
name = "grovedb"
description = "Fully featured database using balanced hierarchical authenticated data structures"
version = "0.12.2"
authors = ["Samuel Westrich <sam@dash.org>", "Wisdom Ogwu <wisdom@dash.org", "Evgeny Fomin <evgeny.fomin@dash.org>"]
edition = "2021"
license = "MIT"

[dependencies]
merk = { path = "../merk", optional = true }
thiserror = { version = "1.0.37", optional = true }
tempfile = { version = "3.3.0", optional = true }
bincode = { version = "1.3.3", optional = true }
serde = { version = "1.0.149", optional = true }
storage = { path = "../storage", optional = true }
visualize = { path = "../visualize", optional = true }
hex = { version = "0.4.3", optional = true }
itertools = { version = "0.10.5", optional = true }
integer-encoding = { version = "3.0.4", optional = true }
costs = { version = "1.0.0", path = "../costs", optional = true }
nohash-hasher = { version = "0.2.0", optional = true }
indexmap = { version = "1.9.2", optional = true }
intmap = { version = "2.0.0", optional = true }

[dev-dependencies]
rand = "0.8.5"
criterion = "0.4.0"
hex = "0.4.3"
pretty_assertions = "1.3.0"

[[bench]]
name = "insertion_benchmark"
harness = false

[features]
default = ["verify"]
full = [
    "merk/full",
    "thiserror",
    "tempfile",
    "bincode",
    "serde/derive",
    "storage/rocksdb_storage",
    "visualize",
    "hex",
    "itertools",
    "integer-encoding",
    "costs",
    "nohash-hasher",
    "indexmap",
    "intmap"
]
verify = [
    "merk/verify",
    "costs",
    "thiserror",
    "serde/derive",
    "storage/rocksdb_storage",
    "bincode",
    "integer-encoding",
]