[package]
name = "grovedb"
description = "Fully featured database using balanced hierarchical authenticated data structures"
version = "0.8.2"
authors = ["Samuel Westrich <sam@dash.org>", "Wisdom Ogwu <wisdom@dash.org", "Evgeny Fomin <evgeny.fomin@dash.org>"]
edition = "2021"
license = "MIT"

[dependencies]
rs_merkle = "1.1.0"
merk = { path = "../merk", optional = true }
thiserror = "1.0.37"
tempfile = "3.3.0"
bincode = "1.3.3"
serde = { version = "1.0.149", features = ["derive"] }
storage = { path = "../storage", features = ["rocksdb_storage"] }
visualize = { path = "../visualize" }
hex = "0.4.3"
itertools = { version = "0.10.5" }
integer-encoding = "3.0.4"
costs = { version = "1.0.0", path = "../costs" }
nohash-hasher = "0.2.0"
indexmap = "1.9.2"
intmap = "2.0.0"

[dev-dependencies]
rand = "0.8.5"
criterion = "0.4.0"
hex = "0.4.3"
pretty_assertions = "1.3.0"

[[bench]]
name = "insertion_benchmark"
harness = false

[features]
default = ["verify"]
full = ["merk/full"]
verify = ["merk/verify"]