[package]
name = "storage"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num_cpus = "1.13.0"
rocksdb = { git = "https://github.com/yiyuanliu/rust-rocksdb", branch = "transaction" }
tempdir = "0.3.7"
thiserror = "1.0.30"

[dev-dependencies]
tempdir = "0.3.7"
