[package]
name = "storage"
version = "1.0.0"
edition = "2021"

[dependencies]
lazy_static = { version = "1.4.0", optional = true }
num_cpus = { version = "1.14.0", optional = true }
tempfile = { version = "3.3.0", optional = true }
blake3 = { version = "1.3.3", optional = true }
integer-encoding = { version = "3.0.4", optional = true }
visualize = { path = "../visualize" }
strum = { version = "0.24.1", features = ["derive"] }
costs = { version = "1.0.0", path = "../costs" }
thiserror = "1.0.37"
rocksdb = { version = "0.19.0", optional = true }
hex = "0.4.3"
path = { path = "../path" }

[features]
rocksdb_storage = ["rocksdb", "num_cpus", "lazy_static", "tempfile", "blake3", "integer-encoding"]
