on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - develop
      - v[0-9]+\.[0-9]+-dev

name: GroveDB

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - name: Setup Trunk
        uses: jetli/trunk-action@v0.5.0

      - run: cargo test --workspace --all-features


  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Check out repo
        uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          components: clippy

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

  formatting:
    name: Formatting
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          default: true
          components: rustfmt

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - run: exit `cargo +nightly fmt --check | wc -l`

  errors:
    name: Compilation errors
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - run: cargo check

      - name: Compile proof verification feature
        run: cargo build --no-default-features --features verify -p grovedb

  security:
    name: Dependencies security audit
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2

      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
