name: GroveDB

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - develop
      - v[0-9]+.[0-9]+-dev

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - name: Setup Trunk
        uses: jetli/trunk-action@v0.5.0

      - run: cargo test --workspace --all-features

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
          targets: wasm32-unknown-unknown

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - name: Setup Trunk
        uses: jetli/trunk-action@v0.5.0

      - name: Run clippy
        run: cargo clippy --workspace --all-features -- -D warnings -A mismatched_lifetime_syntaxes

  formatting:
    name: Formatting
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt

      - run: cargo fmt --all --check

  errors:
    name: Compilation errors
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "false"

      - run: cargo check

      - name: Compile proof verification feature
        run: cargo build --no-default-features --features verify -p grovedb

  security:
    name: Dependencies security audit
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Generate lockfile
        run: cargo generate-lockfile

      - uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
